:root{
--aside-section-width: 380px;
--surface-color-1:#000;
--surface-color-2:#46d366;
--background-color-1:#fff;
--background-color-2:#999;
--surface-color:var(--surface-color-1);
--background-color:var(--background-color-1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,.app {
  height: 100%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

